<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>multicounter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27EEA9D51D2A567E003BB3A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27EEA9E91D2A567F003BB3A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27EEA9F41D2A567F003BB3A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
